/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

.body {
  font-family: 'Oswald', sans-serif;
}

#logo{
    height: 200px;
    background: url('../images/doctorwhobanner3.jpg');
    color: white;
    background-size: 100% 100%;

}

#page-title {
  color: darkred;
  font-family: 'Oswald', sans-serif;
  margin-top: -2%;
  margin-left: 3%;
  vertical-align: middle;
}


.main {
  color: #11234B;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  display:block;
  height:175px;
}

#description {
  border-top: 20px solid white;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-size: 20px;
  color: #11234B;
}

.fa-heart {
  color: darkred;
}

.fa-twitter {
  color: #4099FF;
}


li {
  margin-bottom: 5px;
}

.K9-details {

}

footer {
  padding-top: 25px;
  border-top: 1px solid black;
}

footer a {
  float:left;
  margin:5px;
}

.pet-image {
  height:150px;
  margin: auto;
}

.dashboard div {

}

#controls {

    border: 0px;
    margin: -5px;

}
.pet-image-container {
  float:left;
  padding:10px;
}

.dashboard {
  float:left;
  padding:20px;
}

.button-container {
  margin-top:20px;
}

.button-container button {
  width: 100px;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
  float: left;
  font-size:15px;
  background-color: darkred;
  border-color: #404853;
  cursor:pointer;
  background-image: linear-gradient(to bottom,rgba(246,246,246,.1)0%,rgba(30,40,53,0)66%);
  color: #fafafa;
}
